<h1 class="mb-3">Add a new task</h1>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control mb-3" %>
  <%= f.label :details %>
  <%= f.text_area :details, class: "form-control mb-3", rows: 2 %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<hr class="my-4">
<%= link_to '<i class="fa-solid fa-arrow-rotate-left"></i> Back to list'.html_safe, tasks_path, class: 'text-decoration-none' %>
